.sidebar {
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: 0px;
  z-index: 999;
  transition: left .3s ease;
}

.sidebar.toggled {
  left: -300px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  background: #000;
  opacity: .5;
  display: none;
}

.overlay.show {
  display: block;
}

.btn:focus {
  box-shadow: none !important;
}

.navbar-nav .nav-item .nav-link {
  height: 62px;
  color: #1d1d1d;
  transition: border-bottom 0.3s ease;
}

.navbar-nav .nav-item .nav-link.active {
  border-bottom: 3px solid #00b8d4;
  border-radius: 0;
  color: #00b8d4 !important;
}

.navbar-nav .nav-item:focus .nav-link, .navbar-nav .nav-item:hover .nav-link {
  color: #00b8d4 !important;
}

@media only screen and (min-width: 941px) {
  .ml-lg-unset {
    margin-left: unset !important;
  }
}
