$color_1: #444;
$color_2: #848484;
$color_3: #bababa;
$color_white:#fff;
$color_green:#01c853;
$color_blue:#2879ff;
$color_skyblue:#00b8d4;
$color_yellow:#fec107;
$color_red:#ff3d00;
$color_violet:#6200eb;
$color_dark:#1d1d1d;

$font: Roboto, "Helvetica Neue", sans-serif;
