@import "../../variables.scss";

.border-bottom_style {
  border-bottom: 2px solid $color_skyblue;
}

.border-top_style {

  &:before {
    content: '';
    background-color: $color_skyblue;
    position: absolute;
    top: 0px;
    width: 46%;
    height: 4px;
  }

  @media only Screen and (max-width: 320px) {
    &:before {
      width: 74%;
    }
  }

  @media only Screen and (min-width: 350px) and (max-width: 376px) {
    &:before {
      width: 64%;
    }
  }

  @media only Screen and (min-width: 376px) and (max-width: 426px) {
    &:before {
      width: 54%;
    }
  }

  @media only Screen and (min-width: 426px) and (max-width: 768px) {
    &:before {
      width: 74%;
    }
  }

  @media only Screen and (min-width: 769px) and (max-width: 1024px) {
    &:before {
      width: 54%;
    }
  }

  @media only Screen and (min-width: 1025px) and (max-width: 1440px) {
    &:before {
      width: 44%;
    }
  }
}

.bg-lightgrey {
  background-color: #EEEEEE !important;
}

.text-lightgrey {
  color: $color_3 !important;
}

.border-x {
  &:before {
    display: block;
    content: "";
    position: absolute;
    background-color: #bdbdbd4d;
    width: 2px;
    height: 62px;
    top: 28px;
  }

  @media only Screen and (min-width: 320px) and (max-width: 426px) {
    &:before {
      display: none;
    }
  }

  @media only Screen and (min-width: 768px) {
    &:before {
      left: -29px;
    }
  }

  @media only Screen and (min-width: 1024px) {
    &:before {
      left: -46px;
    }
  }

  @media only Screen and (min-width: 1440px) {
    &:before {
      left: -58px;
    }
  }

  // &:after {
  //   display: block;
  //   content: "";
  //   position: absolute;
  //   right: 22px;
  //   background-color: #bdbdbd4d;
  //   width: 2px;
  //   height: 62px;
  //   top: 52px;
  // }
}

.border-l-style {
  background-color: transparent;

  &:not(:last-of-type) {
    &:before {
      content: "";
      position: absolute;
      top: 27px;
      height: 100%;
      width: 1px;
      left: 3.5px;
      background-color: $color_skyblue;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 8px;
    height: 8px;
    border: 1px solid $color_skyblue;
    border-radius: 50%;
    background-color: #fff;
  }
}

.font-500 {
  font-weight: 500;
}

.fa-circle-o {
  font-size: 10px;

  &.position-l {
    position: absolute;
    left: 0;
    top: 7px;
  }
}
