<div class="container my-5 py-5">
  <div class="row justify-content-center">
    <div class="col-md-12 doNotPrint">
          <button type="button" class="btn btn-primary btn-sm shadow float-right" (click)="captureScreen()">Print Pdf</button>
          <button type="button" class="btn btn-dark btn-sm shadow float-right" (click)="captureScreen1()">Download Resume</button>
          <button type="button" class="btn btn-dark btn-sm shadow float-right" (click)="onPrint()">Print</button>
      </div>
    <div class="col-12">
      <div class="card border-0 shadow-sm rounded-0" id="contentToConvert">
        <div class="card-body py-0 border-bottom_style bg-lightgrey">
          <div class="row justify-content-between align-items-start">
            <div class="col-md-5">
              <div class="pl-md-3 pt-3 pt-md-4 border-top_style">
                <h3 class="font-skyblue font-weight-bold">SATHISHKUMAR</h3>
                <p class="text-lightgrey mb-0 h4 font-weight-normal">Web Application Developer</p>
              </div>
            </div>
            <div class="col-md-7">
              <div class="row justify-content-md-around">
                <div class="col-md-6 col-lg-4 p-md-0">
                  <div class="py-3 py-md-4">
                    <p class="font-weight-bold mb-0">Address:</p>
                    <p class="mb-0"><i class="font-skyblue fa fa-map-marker mr-2" aria-hidden="true"></i> 1/171, Kuppur,
                      Dharmapuri-636704.
                    </p>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 p-md-0">
                  <div class="pb-3 py-md-4 border-x">
                    <p class="font-weight-bold mb-0">Contact:</p>
                    <p class="mb-0"><i class="font-skyblue fa fa-envelope mr-2" aria-hidden="true"></i>
                      sathishjim@gmail.com
                    </p>
                    <p class="mb-0"><i class="font-skyblue fa fa-phone mr-2" aria-hidden="true"></i> 9500394907</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title">OBJECTIVE</h5>
          <p class="text-justify card-text">Looking for the greatest opportunity to work as Software Developer while
            utilizing my experience developing web-based applications as well as my knowledge of Web technologies.
            Willing to work as a key player in challenging and creative environment.</p>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-5 pr-lg-0">
            <div class="card border-top-0 border-left-0 border-right-0 rounded-0">
              <h5 class="card-header bg-white border-bottom-0 pr-0">EDUCATION</h5>
              <div class="card-body pt-0 pr-0">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item border-l-style border-0">
                    <div class="row">
                      <div class="col-12 col-md-3 col-lg-4 pr-lg-0">
                        <p class="font-500 mb-0">2012 - 2016</p>
                      </div>
                      <div class="col-12 col-md-6 col-lg-5 px-lg-0">
                        <p class="font-500 mb-0">Under Graduate</p>
                        <p class="font-500 mb-0">B.Tech (Information Technology)</p>
                        <p class="mb-0">Hindusthan college of Engineering and Technology, Coimbatore.</p>
                      </div>
                      <div class="col-12 col-md-3 col-lg-3 px-0">
                        <p class="font-500 mb-0 text-center">6.6(CGPA)</p>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item border-l-style border-0">
                    <div class="row">
                      <div class="col-12 col-md-3 col-lg-4 pr-lg-0">
                        <p class="font-500 mb-0">2010 - 2012</p>
                      </div>
                      <div class="col-12 col-md-6 col-lg-6 px-lg-0">
                        <p class="font-500 mb-0">Higher Secondary School</p>
                        <p class="mb-0">Sri Vijay Vidyalaya Matric. Hr. Sec. School, Dharmapuri.</p>
                      </div>
                      <div class="col-12 col-md-3 col-lg-2 px-0">
                        <p class="font-500 mb-0">87.25%</p>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item border-l-style border-0">
                    <div class="row">
                      <div class="col-12 col-md-3 col-lg-4 pr-lg-0">
                        <p class="font-500 mb-0">2009 - 2010</p>
                      </div>
                      <div class="col-12 col-md-6 col-lg-6 px-lg-0">
                        <p class="font-500 mb-0">Secondary School</p>
                        <p class="mb-0">Carmel Matriculation School, Dharmapuri.</p>
                      </div>
                      <div class="col-12 col-md-3 col-lg-2 px-0">
                        <p class="font-500 mb-0">84.2%</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-7 pl-lg-0">
            <div class="card border-top-0 border-right-0 rounded-0">
              <h5 class="card-header bg-white border-bottom-0">EXPERIENCE</h5>
              <div class="card-body pt-0 pb-2">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item border-l-style border-0">
                    <div class="row">
                      <div class="col-12 col-md-4 col-lg-4">
                        <p class="font-500 mb-0">Frontend Developer</p>
                      </div>
                      <div class="col-12 col-md-8 col-lg-8 px-0">
                        <p class="mb-0 font-500 font-skyblue">Infosys Pvt Ltd.</p>
                        <p class="font-500 mb-0">Feb 2019 - Ongoing</p>
                        <p class="font-500 mb-0">Responsibilities:</p>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item py-0 pl-0 border-0"><i class="fa fa-circle-o" aria-hidden="true"></i> Developed the Customer
                            Quoting
                            Tool for <span class="font-500">Nissan Financial Services
                              Australia (NFSA)</span> using Vaadin.</li>
                          <li class="list-group-item pb-0 pl-0  border-0"><i class="fa fa-circle-o" aria-hidden="true"></i> Developed the Customer
                            Portal
                            for <span class="font-500">Nissan
                              Renault Financial Servicies India (NRFSI)</span> using Angular 7, Angular Material and
                            Bootstrap 4.</li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item border-l-style border-0">
                    <div class="row">
                      <div class="col-12 col-md-4 col-lg-4">
                        <p class="font-500 mb-0">Web Developer</p>
                      </div>
                      <div class="col-12 col-md-8 col-lg-8 px-0">
                        <p class="mb-0 font-500 font-skyblue">KowinKO Technologies Pvt Ltd.</p>
                        <p class="font-500 mb-0">Jan 2017 - Feb 2019</p>
                        <p class="font-500 mb-0">Responsibilities:</p>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item py-0 pl-0 border-0 "><i class="fa fa-circle-o" aria-hidden="true"></i> Developed 12+ successful
                            projects in span of less than 2 years.</li>
                          <!-- <li class="list-group-item pb-0 pl-0 border-0"><i class="fa fa-circle-o font-skyblue" aria-hidden="true"></i> Developed ERP application, ecommerce application, Content Management System for websities using Angular 6, Bootstrap 4, Javascript, Slim PHP, Codeigniter PHP and MySQL.</li> -->
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-12">
            <div class="card border-0 rounded-0">
              <h5 class="card-header bg-white border-bottom-0">SKILLS</h5>
              <div class="card-body">
                <div class="row">
                  <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                    <table class="table table-borderless table-sm">
                      <tbody>
                        <tr>
                          <td><i class="fa fa-arrow-right font-skyblue d-none d-sm-inline-block" aria-hidden="true"></i>
                            Front-end</td>
                          <td>: HTML5, CSS3, JavaScript, JQuery, AJAX, JSON</td>
                        </tr>
                        <tr>
                          <td><i class="fa fa-arrow-right font-skyblue d-none d-sm-inline-block" aria-hidden="true"></i>
                            CSS Pre-processors</td>
                          <td>: LESS, SASS</td>
                        </tr>
                        <tr>
                          <td><i class="fa fa-arrow-right font-skyblue d-none d-sm-inline-block" aria-hidden="true"></i>
                            CSS Framework</td>
                          <td>: Bootstrap 4</td>
                        </tr>
                        <tr>
                          <td><i class="fa fa-arrow-right font-skyblue d-none d-sm-inline-block" aria-hidden="true"></i>
                            JavaScript Framework</td>
                          <td>: AngularJS, Angular 6 & 7</td>
                        </tr>
                        <tr>
                          <td><i class="fa fa-arrow-right font-skyblue d-none d-sm-inline-block" aria-hidden="true"></i>
                            Back-end</td>
                          <td>: Core PHP</td>
                        </tr>
                        <tr>
                          <td><i class="fa fa-arrow-right font-skyblue d-none d-sm-inline-block" aria-hidden="true"></i>
                            PHP Framework</td>
                          <td>: Slim PHP, CodeIgniter PHP</td>
                        </tr>
                        <tr>
                          <td><i class="fa fa-arrow-right font-skyblue d-none d-sm-inline-block" aria-hidden="true"></i>
                            Database</td>
                          <td>: MySQL</td>
                        </tr>
                        <tr>
                          <td><i class="fa fa-arrow-right font-skyblue d-none d-sm-inline-block" aria-hidden="true"></i>
                            Payment Gateways</td>
                          <td>: PayPal, HDFC Payment Gateway</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <hr class="border-bottom_style" />
              </div>
            </div>
          </div> -->
        <div class="col-md-12">
          <div class="card border-0 rounded-0">
            <h5 class="card-header bg-white border-bottom-0 pr-0">KEY SKILLS</h5>
            <div class="card-body pt-0 border-bottom">
              <div class="row mx-0">
                <div class="col-md-4"><i class="fa fa-circle-o position-l font-skyblue" aria-hidden="true"></i><p class="mb-0 ml-2"> Web Developement & Maintenance</p></div>
                <div class="col-md-4"><i class="fa fa-circle-o position-l font-skyblue" aria-hidden="true"></i><p class="mb-0 ml-2"> Backend Developement</p></div>
                <div class="col-md-4"><i class="fa fa-circle-o position-l font-skyblue" aria-hidden="true"></i><p class="mb-0 ml-2"> REST API Developement</p></div>
              </div>
              <div class="row mx-0">
                <div class="col-md-4"><i class="fa fa-circle-o position-l font-skyblue" aria-hidden="true"></i> <p class="mb-0 ml-2">Payment Module Integration</p></div>
                <div class="col-md-4"><i class="fa fa-circle-o position-l font-skyblue" aria-hidden="true"></i> <p class="mb-0 ml-2">Web Hosting</p></div>
                <div class="col-md-4"><i class="fa fa-circle-o position-l font-skyblue" aria-hidden="true"></i> <p class="mb-0 ml-2">Requirement Gathering</p></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card border-0 rounded-0">
            <h5 class="card-header bg-white border-bottom-0 pr-0">TECHNICAL SKILLS</h5>
            <div class="card-body pt-0">
              <div class="row mx-0">
                <div class="col-md-6"><i class="fa fa-circle-o position-l" aria-hidden="true"></i><p class="mb-0 ml-2 font-500"> <span class="font-skyblue">Front-end:</span> HTML5, CSS3, JavaScript, JQuery, AJAX, JSON</p></div>
                <div class="col-md-6"><i class="fa fa-circle-o position-l" aria-hidden="true"></i><p class="mb-0 ml-2 font-500"> <span class="font-skyblue">JavaScript Framework:</span> AngularJS, Angular 6 & 7</p></div>
              </div>
              <div class="row mx-0">
                <div class="col-md-6"><i class="fa fa-circle-o position-l" aria-hidden="true"></i><p class="mb-0 ml-2 font-500"> <span class="font-skyblue">CSS Pre-processors:</span> LESS, SASS</p></div>
                <div class="col-md-6"><i class="fa fa-circle-o position-l" aria-hidden="true"></i><p class="mb-0 ml-2 font-500"> <span class="font-skyblue">CSS Framework:</span> Bootstrap 4, Angular Material, Vaddin 13</p></div>
              </div>
              <div class="row mx-0">
                <div class="col-md-6"><i class="fa fa-circle-o position-l" aria-hidden="true"></i><p class="mb-0 ml-2 font-500"> <span class="font-skyblue">Back-end:</span> Core PHP</p></div>
                <div class="col-md-6"><i class="fa fa-circle-o position-l" aria-hidden="true"></i><p class="mb-0 ml-2 font-500"> <span class="font-skyblue">PHP Framework:</span> Slim PHP, CodeIgniter PHP</p></div>
              </div>
              <div class="row mx-0">
                <div class="col-md-6"><i class="fa fa-circle-o position-l" aria-hidden="true"></i><p class="mb-0 ml-2 font-500"> <span class="font-skyblue">Database:</span> MySQL</p></div>
                <div class="col-md-6"><i class="fa fa-circle-o position-l" aria-hidden="true"></i><p class="mb-0 ml-2 font-500"> <span class="font-skyblue">Payment Gateways:</span> PayPal, HDFC Payment Gateway</p></div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
